body {
    background-color: #e0f7fa;  /* Light blue pastel background */
    color: #004d66;  /* Dark blue pastel text */
}

.container-fluid {
    margin-top: 8%;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #ffffff;  /* White card background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #004d66;  /* Dark blue pastel text */
}

.form-control {
    border-radius: 0;
    background-color: #e0f7fa;  /* Light blue pastel input background */
    border: 1px solid #b2ebf2;  /* Light blue pastel border */
    color: #004d66;  /* Dark blue pastel text */
}

.btn-primary {
    background-color: #00796b;  /* Dark blue pastel button */
    border-color: #00796b;
    border-radius: 50px;
}

.loading-text {
    font-size: 1.5rem;
    color: #004d66;  /* Dark blue pastel text */
}

.report-generated-card {
    border: none;
    border-radius: 10px;
    background-color: #00796b;  /* Dark blue pastel card background */
    padding: 20px;
    color: #ffffff;  /* White text */
}

.btn-success {
    background-color: #004d66;  /* Dark blue pastel button */
    border-color: #004d66;
}
